/* Main container */
.tyler {
    display: block;
    font-size: 16px;
    position: relative;
    user-select: none;
}

/* Attribution block */
.tyler-attribution {
    background-color: #ffffffb0;
    border-top-left-radius: 0.5rem;
    color: #0c0d0e;
    bottom: 0px;
    font-size: 0.7rem;
    height: 1.5rem;
    min-width: 1rem;
    padding: 0.25rem 0.5rem;
    position: absolute;
    right: 0px;
}
.tyler-attribution > a {
    color: #006188;
}
