/* Global variables */
:root {
    --tyler-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.5);
}

/* Main container */
.tyler {
    display: block;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    user-select: none;
}

/* Marks */
.tyler-marks {
    height: 100%;
    left: 0px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 5;
}
.tyler-marks > img {
    position: absolute;
    transform: translateX(-50%) translateY(-100%);
}
.tyler-marks > img[data-visible="false"] {
    display: none !important;
}

/* Attribution block */
.tyler-attribution {
    background-color: #ffffffb0;
    border-top-left-radius: 0.5rem;
    color: #0c0d0e;
    bottom: 0px;
    font-size: 0.7rem;
    height: 1.5rem;
    min-width: 1rem;
    padding: 0.25rem 0.5rem;
    position: absolute;
    right: 0px;
    z-index: 2;
}
.tyler-attribution > a {
    color: #006188;
}
.tyler-attribution > a:hover {
    text-decoration: underline;
}

/* Zooming */
.tyler-zooming {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--tyler-shadow);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    left: 1rem;
    padding: 0.25rem;
    position: absolute;
    top: 1rem;
    /* width: 2rem; */
}
.tyler-zooming-button {
    align-items: center;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    height: 1.75rem;
    justify-content: center;
    user-select: none;
    width: 1.75rem;
}
.tyler-zooming-button:hover {
    background-color: #f5f5f5;
}
